<div class="page-header"><h1>Upload Menu</h1></div>

<div class="media">
  <% @menus.each do |menu| %>
    <div class="media-left">
      <!-- Renders image -->
      <%= link_to "See menu", menu.document.url, target: '_blank' %>
      <%= link_to 'Remove', menu_path(menu), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  <% end %>
</div>
