<%= @user.name %>, <%= @user.email %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<% if current_user?(@user) %> 
<%= link_to "Create your own pub", new_pub_path, class: "btn btn-lg btn-primary" %>
<% end %>