// Place all the styles related to the Pubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pubs {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .pub {
    margin-top: 5em;
    padding-top: 0;
  }
  .address {
    display: block;
  }
  .name {
    color: #red;
    }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
