You are the owner of this pub
<div class="row">
  <aside class="col-md-4">
    <section class="pub_info">
      <h1>
        <%= @pub.name %>
        <%= @pub.address %>
      </h1>
    </section>
  </aside>
</div>