Your review content is: 
<span class="content"><%= @review.content %></span>

<div class="row">
<aside class="col-md-4">
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </aside>
</div>
